configuration {
  modi:                "drun,run,filebrowser,window";
  show-icons:          true;
  icon-theme:          "Tela-circle-dark";
  drun-display-format: "{name}";
  window-format:       "{w} · {c} · {t}";
}

* {
  font:            "JetBrainsMono Nerd Font 10.5";
  background:      #1e1e2eF0;
  background-alt:  #313244;
  foreground:      #cdd6f4;
  selected:        #cba6f7;
  selected-text:   #11111b;
  active:          #89b4fa;
  urgent:          #f38ba8;
  border-color:    #cba6f7;
}

window {
  transparency:     "real";
  location:         center;
  anchor:           center;
  width:            750px;
  border:           2px;
  border-color:     @border-color;
  border-radius:    18px;
  background-color: @background;
}

mainbox {
  spacing:          14px;
  padding:          20px;
  background-color: transparent;
  orientation:      vertical;
  children:         [ "inputbar", "listview" ];
}

inputbar {
  spacing:          10px;
  padding:          12px 16px;
  border-radius:    14px;
  border:           1px;
  border-color:     rgba(203, 166, 247, 0.4);
  background-color: @background-alt;
  text-color:       @foreground;
  children:         [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
  expand:           false;
  str:              "";
  background-color: transparent;
  text-color:       #cba6f7;
  font:             "CaskaydiaCove Nerd Font Mono 13";
}

entry {
  background-color: transparent;
  text-color:       inherit;
  cursor:           text;
  placeholder:      "Search apps & commands...";
  placeholder-color: #7f849c;
}

listview {
  columns:          2;
  lines:            6;
  cycle:            true;
  scrollbar:        false;
  spacing:          10px;
  background-color: transparent;
  text-color:       @foreground;
}

element {
  spacing:          14px;
  padding:          10px 14px;
  border-radius:    12px;
  background-color: transparent;
  text-color:       @foreground;
  cursor:           pointer;
}

element selected.normal {
  background-color: @selected;
  text-color:       @selected-text;
}

element-icon {
  background-color: transparent;
  size:             36px;
}

element-text {
  background-color: transparent;
  text-color:       inherit;
  vertical-align:   0.5;
  font:             "CaskaydiaCove Nerd Font Mono 11";
}

mode-switcher {
  spacing:          15px;
  background-color: transparent;
}

button {
  padding:          12px;
  border-radius:    12px;
  background-color: @background-alt;
  text-color:       @foreground;
  cursor:           pointer;
}

button selected {
  background-color: @selected;
  text-color:       @selected-text;
}
